body {
  height: 100vh;
  font-family: 'Karla', sans-serif;
}

.load-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  font-size: 16px;
}

.selectors {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.form-control:focus {
  color: black;
}

.control-panel {
  height: 100%; 
  width: 50%; 
  float: right; 
  padding: 20px;
  background-color: #36393F;
  color: azure;
}

.form-label {
  font-weight: 400; 
  font-size: 20px;
}

select.form-control {
  background-color: #4D5259;
  color: azure;
  border-color: #202222;
}

#start-node {
  font-size: 18px;
  background-color: #4D5259;
  color: azure;
}

#end-node {
  font-size: 18px;
  background-color: #4D5259;
  color: azure;
}

#search-algorithm {
  font-size: 18px;
  background-color: #4D5259;
  color: azure;
}

#search-btn {
  font-size: 18px;
  color: azure;
}

#map {
  height: 100%;
  height: 100%; 
  width: 50%; 
  float: left;
}