body {
  height: 100vh;
  width: 100vw;
  font-family: 'Karla', sans-serif;
}

h2 {
  margin: 0%;
}

h3 {
  margin: 0%;
}

p {
  font-size: 16px;
  padding-left: 4px;
}

.title-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  gap: 2rem;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: azure;
  background-color: #36393F;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: azure;
  font-size: 20px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.btn:hover {
  background-color: #0069d9;
  color: azure;
}

.btn:active {
  color: azure;
  background-color: #0062cc;
}

.control-panel {
  height: 100%; 
  width: 45%; 
  float: right; 
  padding: 28px;
  background-color: #36393F;
  color: azure;
}

input::-webkit-file-upload-button {
  background-color: #4D5259;
  font-family: 'Karla', sans-serif;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  color: azure;
  cursor: pointer;
}

input::-webkit-file-upload-button:hover {
  background-color: #464a51;
  color: azure;
}

.load-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  font-size: 16px;
}

.selectors {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-label {
  font-weight: 400; 
  font-size: 20px;
}

.form-control {
  padding: 4px;
}

select.form-control {
  background-color: #4D5259;
  color: azure;
  border-color: #202222;
}

#search-algorithm {
  padding-left: 16px;
  font-size: 18px;
  background-color: #4D5259;
  color: azure;
}

#start-node {
  padding-left: 16px;
  font-size: 18px;
  background-color: #4D5259;
  color: azure;
}

#end-node {
  padding-left: 16px;
  font-size: 18px;
  background-color: #4D5259;
  color: azure;
}

#search-btn {
  color: azure;
}

#map {
  height: 100%;
  height: 100%; 
  width: 55%; 
  float: left;
}